@model IEnumerable<ArkhenManufacturing.WebApp.Models.ProductViewModel>

@{
  ViewData["Title"] = "Arkhen Manufacturing - Home Page";
}

<div class="justify-content-center row m-5">
  @{ await Html.RenderPartialAsync("Products", Model); }
</div>
