@model IEnumerable<LocationViewModel>

@{
  Layout = "_Layout";
  ViewData["Title"] = "Locations";
}

<div class="row justify-content-center">
  @* Alright, so the locations need to be shown *@
  <table class="table">
    <caption>A list of locations that are available.</caption>
    <thead>
      <tr>
        <th id="name">
          @Html.DisplayNameFor(model => model.First().Name)
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>
            @Html.DisplayFor(_ => item.Name)
          </td>
          <td>
            @Html.ActionLink("Admins", "Admins", "Location", new { id = item.Id })
          </td>
          <td>
            @Html.ActionLink("Orders", "Orders", "Location", new { id = item.Id })
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
