@using Microsoft.AspNetCore.Identity

@inject UserManager<ArkhenManufacturing.DataAccess.ApplicationUser> UserManager

<div>
  @if (User.IsInRole("Admin")) {
    <a asp-action="Index" asp-controller="Customer"  class="navbar-brand btn-link text-light">Customers</a>
    <a asp-action="Index" asp-controller="Location"  class="navbar-brand btn-link text-light">Locations</a>
  }
</div>