@using Microsoft.AspNetCore.Identity

@inject SignInManager<ArkhenManufacturing.DataAccess.ApplicationUser> SignInManager
@inject UserManager<ArkhenManufacturing.DataAccess.ApplicationUser> UserManager

<div>
  @*  *@
  @if (User.IsInRole("Admin")) {
    @Html.ActionLink("Customers", "Index", "Customer")
    @Html.ActionLink("Locations", "Index", "Location")
  }
</div>